.cursor-pointer {
    cursor: pointer;
}

@media(max-width: 768px) {
    .btn-m-resp {
        margin-bottom: 1rem;
    }
    .navbar-resp {
        padding-left: 1rem;
    }
}

.subnav-light {
    color: rgba(255,255,255,.5);
}

